@import url(reset.css);
@import url(./font/font.css);
@import url(./global.css);

/* 공통속성 */
.flex {
    display: flex;
}

body {
    background: var(--black100);

}

main {
    color: var(--white);
}

/* 헤더 */
header {
    background: var(--white);
    position: fixed;
    width: 100%;
    z-index: 9999;
    font-family: var(--maingKor-font);
}

header::after {
    width: 100%;
    height: 16px;
    bottom: -5px;
    position: absolute;
    content: '';
    background: url(./images/menu-bg-pattern.png);
    z-index: -1;
}

.header-inner {
    width: 100%;
    position: relative;
    height: 95px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

h1 img {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    padding-left: 20px;
}


nav,
.gnb {
    flex-shrink: 0;
}

nav a,
ul.gnb a {
    text-transform: uppercase;
}


nav ul li::before {
    content: '\e910';
    font-family: 'jt-font';
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #ed4043;
    display: block;
    opacity: 0;
    transition: .35s;
    margin-bottom: 10px;
}

nav ul li.main-menu a {
    position: relative;
    height: 16px;
    overflow: hidden;
    display: block;
}


nav ul li.main-menu:hover .menu-inner {
    top: -20px
}

nav ul li.main-menu:hover::before {
    opacity: 1;
}

nav ul li.main-menu .menu-inner {
    position: relative;
    width: 100%;
    transition: .35s;
    top: 0px;
}

nav ul li.main-menu:hover span {
    color: #ed4043;
}


ul.gnb {
    width: 220px;
    padding-left: 40px;
    gap: 20px;
}

nav a {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    letter-spacing: 0.025em;
}

ul.gnb a {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #222;

}

ul.gnb a::before {
    font-family: 'jt-font';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #ed4043;

}



ul.gnb a.login::before {
    content: '\e91b';
}

ul.gnb a.sign::before {
    content: '\e91c';
}

nav ul {
    width: 800px;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 5px;
}

nav ul li.main-menu span {
    display: block;
    text-align: center;
}


#sect1 {
    width: 100%;
    height: 100vh;
    background-image: url(./images/book-multi-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

#sect1 h2 {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 23%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-wrap {
    width: 90%;
    position: absolute;
    gap: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.title1,
.title2,
.title3 {
    width: 200px;
    height: 200px;
    flex-direction: column;
    z-index: 999;
    line-height: 40px;
    background: #ed4043;
    border-radius: 100%;
    font-size: 16px;
}

.title-wrap h3 {
    font-size: 20px;
}

.title1:hover,
.title3:hover,
.title2:hover {
    transform: scale(1.1);
    transition: .35s;
}



section {
    height: 100vh;
    width: 100%;
    position: relative;
}

.character {
    position: relative;
    z-index: 99;
}

article.on {
    opacity: 1;
}



article {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
}

.character {
    width: 800px;
    margin: auto;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    position: absolute;

}

.character ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.character li {
    padding: 15px;
}

.desc {
    background: #ed4043;
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

article h2 {
    font-size: 30px;
    padding: 20px;
}

#sect2 h3 {
    font-size: 28px;
    width: 100%;
    position: absolute;
    z-index: 99;
    text-align: center;
    left: 50%;
    top: 27%;
    transform: translate(-50%, -50%);
}

#sect2 h3 b {
    font-size: 45px;
}



.desc p {
    line-height: 30px;
    font-size: 16px;
}

.quick {
    margin: auto;
    width: 100px;
    height: 100px;
    position: fixed;
    right: 6%;
    bottom: 7%;
    z-index: 99;
    cursor: pointer;
}

.rotate img {
    width: 100%;
}

.quicktxt {
    font-size: 12px;
    width: 70px;
    height: 70px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(237, 64, 67);
    border-radius: 50%;
}

.quicktxt p {
    margin: auto;
    text-align: center;
    color: #fff;
}

.quick:hover .rotate {
    transform: rotate(360deg);
}

#sect2 figure {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#sect2 figure img {
    width: 15vw;
    position: relative;
    z-index: 10;
}




article:nth-child(1) img {
    animation: dance 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    transform-origin: center bottom;
}

article:nth-child(2) img {
    animation: dance_skew 1.8s ease-out infinite;
    transform-origin: center bottom;
}

article:nth-child(3) img {
    animation: jump 3s cubic-bezier(0.53, 0.03, 0.6, 0.99) infinite;
    transform-origin: center bottom;
}

article:nth-child(4) img {
    animation: dance_jump 3s ease-out infinite;
    transform-origin: center bottom;
}

article:nth-child(5) img {
    animation: dance 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    transform-origin: center bottom;
}

article:nth-child(6) img {
    animation: dance_jump 3s ease-out infinite;
    transform-origin: center bottom;

}

@keyframes dance {
    0% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

@keyframes dance_skew {
    0% {
        transform: skewX(0deg);
    }

    50% {
        transform: skewX(3deg);
    }

    100% {
        transform: skewX(-3deg);
    }

    100% {
        transform: none;
    }
}

@keyframes jump {
    0% {
        transform: translate(0, -8%);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -8%);
    }
}

@keyframes dance_jump {
    0% {
        transform: none;
    }

    15% {
        transform: rotate(-3deg);
    }

    30% {
        transform: rotate(3deg);
    }

    45% {
        transform: rotate(-3deg);
    }

    60% {
        transform: translate3d(0, -5%, 0);
    }

    75% {
        transform: translate3d(0, 1%, 0);
    }

    85% {
        transform: translate3d(0, -3%, 0);
    }

    100% {
        transform: none;
    }
}

#sect2 article.on figcaption {
    transform: translateY(0%);
}

#sect2 figcaption {
    position: absolute;
    /* top: 50%; */
    font-size: 10vw;
    opacity: 0.4;
    font-weight: 800;
    transition: .5s;
    transform: translateY(-100%);
}


.character li span {
    text-align: center;
    justify-content: center;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;

}


.character ul li a::after {
    border: 6px solid #fff;
    display: block;
    border-radius: 50%;
    content: '';
    position: absolute;
    width: 83px;
    height: 83px;
    top: 0;
    left: 0;
    opacity: 0;
}

.character ul li a.on::after {
    opacity: 1;
}


.character li:hover img {
    transform: scale(0.9);
}

.character ul li a {
    overflow: hidden;
    position: relative;
    display: block;
    width: 101px;
    height: 101px;
    border-radius: 50%;
    overflow: hidden;
}

.character img {
    display: block;
    width: 90px;
    height: 90px;
}

#Mugo figure {
    background: #ffcc00;
}

#Chichi figure {
    background: #0ad17c;
}

#windy figure {
    background: #0bcacb;
}

#cago figure {
    background: #ffae08;
}

#ari figure {
    background: #fbd04d;
}

#rok figure {
    background: #404475;
}

#sect3 {
    overflow: hidden;
    width: 100%;
    height: 110vh;
    background-image: url(./images/video-bg-pattern.jpg);
}

#sect3 h3.tryt {
    font-size: 40px;
    height: 7vw;
    position: relative;
    top: 40px;
}

.sect3-wrap {
    width: 100%;
    flex-direction: column;
    padding: 10px;
}

.tabs {
    width: 100%;
    flex-direction: column;
    position: relative;
    top: 40px;
}

.tab-menu {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    padding: 20px;
    background-image: url(./images/video-tabs-line.png);
}

.tab-menu ul {
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.tab-menu li.on{
    color: #ffae08;
}

.item-tab figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-contents {
    width: 90%;
}

.tab-contents img {
    width: 100%;
}

.item-tab figure img {
    width: 40%;
    padding: 90px;
}

.item-tab figure figcaption {
    width: 45%;
}

.item-tab h3{
    font-size: 40px;
    padding-bottom: 10px;
}

.item-tab p{
    font-size: 15px;
    line-height: 28px;
}

.item-tab {
    display: none;
}

.item-tab.on {
    display: block;
}